    .navbar {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .hero {
        background-image: url("heroimg.jpg");
        background-size: cover;
    }
    
    h1,
    p {
        color: #fff;
    }
    
    .jobs {
        border: 1px solid black;
    }